{% extends "dangos/base.html" %}
{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="h4 mb-4">Adicionar um novo tópico</h1>
            <form action="{% url 'new_topic' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.text.label_tag }}
                    {{ form.text }}
                    {% if form.text.errors %}
                        <div class="invalid-feedback d-block">{{ form.text.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </form>
        </div>
    </div>
{% endblock %}
